.navbar {
  color: white;
  font-size: 14px;
}

.container {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  .left {
    display: flex;
    align-items: center;
    img {
      height: 25px;
    }
    .right {
      display: flex;
      align-items: center;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.left img {
  height: 30px;
}
