.navbar {
  color: white;
  font-size: 14px;
}

.container {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  img {
    height: 25px;
  }
}

.left img {
  height: 30px;
}
