.container {
  padding: 50px;
  display: flex;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.left {
  flex: 2;
}
.right {
  flex: 1;
}
.title {
  font-family: serif;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.table {
  width: 100%;
  border-spacing: 20px;
  display: flow-root;
}

.name {
  font-weight: 50;
  color: #d1411e;
  font-size: 18px;
}
.total {
  font-weight: 500;
  font-size: 18px;
}

.wrapper {
  width: 100%;
  border-radius: 20px;
  height: 500px;
  max-height: 300px;
  background-color: #333;
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}
.homeButton {
  border: 2px solid black;
  margin-left: 2%;
  position: fixed;
  bottom: 88vh;
  background-color: #cb8d7e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  z-index: 9999;
  transition: background-color 0.3s ease;
}
.homeButton:hover {
  background-color: #ad725e;
}

.totalTextTitle {
  margin-right: 10px;
}

.button {
  height: 30px;
  color: #ad725e;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.paymentMethods {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.payButton {
  padding: 10px 5px;
  cursor: pointer;
  margin-bottom: 5px;
  background-color: white;
  color: teal;
  font-weight: bold;
}

.btnlink {
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .trTitle {
    display: none;
  }

  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .imgContainer {
    width: 35vw;
    height: 35vw;
  }

  .name,
  .total {
    font-size: 24px;
  }

  .extras,
  .price,
  .quantity {
    font-size: 22px;
  }

  .price::before {
    content: "Price: ";
    font-weight: 500;
  }
  .quantity::before {
    content: "Quantity: ";
    font-weight: 500;
  }
  .total::before {
    content: "Total: ";
    font-weight: 500;
  }

  .wrapper {
    width: 100%;
  }
}

.paymentMethods {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.payButton {
  padding: 10px 5px;
  cursor: pointer;
  margin-bottom: 5px;
  background-color: white;
  color: teal;
  font-weight: bold;
}
