.container {
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  cursor: pointer;

  border-radius: 10px;
}

.imageCard {
  border-radius: 10px;
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #26211f;
  cursor: pointer;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.desc {
  text-align: center;
  color: #393434;
}
.button {
  height: 30px;
  width: 50%;
  color: #e8e3e1;
  background-color: #cb8d7e;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 5%;
}
.quantity {
  width: 30%;
  border: 4px solid black;
  border-radius: 10px;
}
.notification {
  /* position: absolute; */
  top: 0;
  right: 0;

  background-color: #ffffff; /* Background color */
  color: #333333; /* Text color */
  border: 10px solid #cb8d7e; /* Border color and thickness */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Shadow effect */
  padding: 10px 15px; /* Padding around the content */
  border-radius: 10px; /* Rounded corners */
  font-size: 16px; /* Font size */
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 30px;
  }

  .price,
  .desc {
    font-size: 24px;
  }
}
